/* Navbar styling */
.navbar {
  background-color: #272727 !important;
}

.navbar .nav-link {
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #dddddd !important;
}

/* Footer styling */
footer {
  background-color: #272727;
  padding: 0;
}

/* Map container styles */
.leaflet-container {
  width: 100%;
  height: calc(100vh - 100px);
  border-radius: 15px; /* Rounded edges for the map */
}

/* Custom layout styling */
.left-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.map-content {
  height: 100%; /* Ensures the map takes up full height */
}

/* Add rounded edges and spacing */
.rounded-section {
  border-radius: 15px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
}

/* Custom class for sidebar spacing if needed */
.sidebar {
  margin-right: 20px;
}
