
.navbar {
  background-color: #272727 !important;
}

.navbar .nav-link {
  color: #ffffff !important;
}

.navbar .nav-link:hover {
  color: #dddddd !important;
}


footer {
  background-color: #272727;
  padding: 0;
}


.leaflet-container {
  width: 100%;
  height: calc(100vh - 100px);
}
